* {
  box-sizing: border-box;
}

.login-wrapper {
  width: 100vw;
  height: 100vh;
  font-family: "Segoe UI";
  /* background-color: #f4f4f4; */
  /* background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=cold-vehicles-water-531880.jpg&fm=jpg'); */
  /* background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  background: linear-gradient(to right bottom, #051937, #072243, #092c50, #0a365d, #09406a, #07527d, #046490, #0077a3, #0097bd, #00b8d3, #2fdae4, #5ffbf1)
}

.login-panel {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0px 15px 0px 15px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.login-control-group {
  margin-bottom: 20px;
}

.login-control {
  display: block;
  margin-top: 0px;
  padding: 6px 10px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}

.login-control:focus {
  box-shadow: 0px 0px 10px 0px rgba(40, 150, 250, 0.5);
}

.login-button {
  border: 1px solid #eee;
  background: #33a5ff;
  padding: 8px 15px;
  color: white;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.text-right {
  text-align: right;
}

.login-forgot-link {
  display: block;
  margin-top: 6px;
  text-decoration: none;
}

label {
  font-weight: 600;
  color: #444;
}

.login-logo>img {
  width: 100%;
  margin: auto;
}

.login-logo {
  text-align: center;
  margin-left: -25px;
  margin-right: -25px;
  padding: 0px 40px;
  background: #f5f5f5;
  padding-bottom: 30px;
  padding-top: 40px;
  margin-bottom: 20px;
}

.login-footer-panel {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.login-footer-singup{
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 8px 15px;
}

.login-footer-panel>a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 15px;
  transition: all 0.3s ease;
}

.login-footer-panel>a:first-child {
  border-right: 1px solid #ddd;
}

.section-or {
  position: relative;
}

.section-or span {
  display: inline-block;
  background-color: white;
  padding: 0 .75rem;
  color: #aaa;
}

.section-or:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.carousel-inner {
  padding: 0px 10px 0px 10px;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.slide-spinner span {
  color: #FF7518;
  font-size: 8px;
  margin: auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  text-indent: -9999em;
  -webkit-animation: load .5s infinite linear;
  animation: load .5s infinite linear;
  -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
  -ms-transform: translateX(-50%) translateY(-50%) translateZ(0);
  transform: translateX(-50%) translateY(-50%) translateZ(0);
  top: 50%;
  left: 50%;
}

@-webkit-keyframes load {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes load {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}